$v-app-loading-text: "My Demo Theme";
$v-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$v-font-color: #454545;
$v-focus-color: #197de1;
$v-included-components: calender, checkbox, combobox, csslayout, customcomponent, customlayout, datefield, grid, notification, popupview, progressbar, upload, window;
